
.card {

  --grain: url("/img/grain.webp");
  --glitter: url("/img/glitter.png");
  --glittersize: 25%;

  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  /*--clip: inset( 9.85% 8% 52.85% 8% );*/
  /*--clip-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 8% 9.85%, 8% 47.15%, 0 50%);

  /*--clip-stage: polygon(91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 92% 47.15%);*/
  /*--clip-stage-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 0 50%);

  /*--clip-trainer: inset(14.5% 8.5% 48.2% 8.5%);
  /*--clip-borders: inset(2.8% 4% round 2.55% / 1.5%);*/

}

.card__shine,
.card__glare {
  
  will-change: transform, opacity, background-image, background-size,
    background-position, background-blend-mode, filter;
 
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 2vw;
    transform-style: preserve-3d;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    position: relative;
}

.card-grid.active {
    z-index: 99;
    isolation: isolate;
}

@media screen and (min-width: 900px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@font-face {
    font-family: "franklin-gothic-book";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/franklin-gothic-book.eot");
    src: url("../../public/fonts/franklin-gothic-book.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/franklin-gothic-book.woff2") format("woff2"),
    url("../../public/fonts/franklin-gothic-book.woff") format("woff"),
    url("../../public/fonts/franklin-gothic-book.ttf") format("truetype");
}

@font-face {
    font-family: "IndieFlower";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/IndieFlower.eot");
    src: url("../../public/fonts/IndieFlower.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/IndieFlower.woff2") format("woff2"),
    url("../../public/fonts/IndieFlower.woff") format("woff"),
    url("../../public/fonts/IndieFlower.ttf") format("truetype"),
    url("../../public/fonts/IndieFlower.svg#IndieFlower.eot") format("svg");
}


@font-face {
    font-family: "bank-gothic";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/bank-gothic-medium-bt.eot");
    src: url("../../public/fonts/bank-gothic-medium-bt.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/bank-gothic-medium-bt.woff2") format("woff2"),
    url("../../public/fonts/bank-gothic-medium-bt.woff") format("woff"),
    url("../../public/fonts/bank-gothic-medium-bt.ttf") format("truetype");
}

@font-face {
    font-family: "built-titling";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/built-titling-sb.eot");
    src: url("../../public/fonts/built-titling-sb.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/built-titling-sb.woff2") format("woff2"),
    url("../../public/fonts/built-titling-sb.woff") format("woff"),
    url("../../public/fonts/built-titling-sb.ttf") format("truetype");
}

@font-face {
    font-family: "frutiger-light";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/FrutigerLTStd-Light.eot");
    src: url("../../public/fonts/FrutigerLTStd-Light.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/FrutigerLTStd-Light.woff2") format("woff2"),
    url("../../public/fonts/FrutigerLTStd-Light.woff") format("woff"),
    url("../../public/fonts/FrutigerLTStd-Light.ttf") format("truetype");
}



@font-face {
    font-family: "franklin-gothic-book";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/franklin-gothic-book.eot");
    src: url("../../public/fonts/franklin-gothic-book.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/franklin-gothic-book.woff2") format("woff2"),
    url("../../public/fonts/franklin-gothic-book.woff") format("woff"),
    url("../../public/fonts/franklin-gothic-book.ttf") format("truetype");
}



@font-face {
    font-family: "brothers-regular";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/brothers-regular.eot");
    src: url("../../public/fonts/brothers-regular.eot?#iefix") format("embedded-opentype"),
    url("../../public/fonts/brothers-regular.woff2") format("woff2"),
    url("../../public/fonts/brothers-regular.woff") format("woff"),
    url("../../public/fonts/brothers-regular.ttf") format("truetype");
}